.app-dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-dashboard__header {
    text-align: center;
}
.app-dashboard__header.warning {
    color: var(--yellow-text);
    background: var(--yellow);
}
.app-dashboard__header.error {
    color: var(--red-text);
    background: var(--red);
}

.app-dashboard__status {
    margin: 0 1em;
}

.app-dashboard__integrations {
    display: flex;
    flex: 1 1 auto;
}

.app-dashboard__integrations > * {
    flex: 1 1 auto;
    margin: 1em;
    padding: 1em;

    border-radius: 1em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

    background: var(--light);
    color: var(--light-text);
}

.app-dashboard__integrations a {
    display: inline-block;
    color: var(--light-text);
    text-decoration: none;
    border: 2px dotted transparent;
    border-bottom-color: var(--light-text);

    transition: background 0.2s, border 0.2s;
}

.app-dashboard__integrations a:focus,
.app-dashboard__integrations a:active {
    border: 2px dotted var(--light-text);
    background: rgba(0, 0, 0, 0.1);
    outline: none;
}

.app-dashboard__integrations a:hover {
    border-bottom-style: dashed;
    background: rgba(0, 0, 0, 0.1);
}
